.App{
  margin-top: 100px;
  font-family:'メイリオ', 'Meiryo', sans-serif;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body{
  background-color: 	#B0C4DE;
}

button{
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  width: 225px;
  font-size: 20px;
  margin: 15px;
}

button:hover{
  color: #fff;
  background: #000;
}

input{
  font-size: 30px;
  width: 300px;
  height: 35px;
}